@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic');

/* Global Styles */
:root {
  --primary: #003699;
  --hover: #84afff;
  --dark: #333333;
  --light: #f4f4f4;
  --danger: #dc3545;
  --success: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 1rem;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--hover);
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
