body {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.card {
  width: 20rem;
}

.card-title {
  font-size: 1.1rem;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgb(0, 0, 0, 0.253) !important;
}

.card-body {
  padding: 1.5 rem 1rem 2rem !important;
}

.card-text {
  font-size: 0.9rem;
}

.container-fluid .row {
  padding-top: 0.6rem;
}
